$background-section: #EDF2EC;
$link-nav: #010201;
$text-color: #636060;
$title: #499A18;
$title-colored: #E06733;
$color: #717171;
$color-dark: #000000;
$color-light: #ffffff;
$color-grey: #D9D9D9;
$color-according-border: #AEA1A1;



