.button {
  display: block;
  width: 162px;
  height: 50px;
  @extend %font-add;
  @include font($size: 2rem, $height: 2.6rem);
  color: $title-colored;
  background-color: transparent;
  border: 1px solid $title-colored;
  border-radius: 2px;
  @extend %transition;

  @include media-mobile{
    width: 121px;
    height: 35px;
    @include font($size: 1.5rem, $height: 2rem);
  }

  &:hover {
    cursor: pointer;
    background-color: $title-colored;
    color: $color-light;
  }
}


.button_active {
  background-color: $title-colored;
  color: $color-light;
}